{% load staticfiles %}
<html>
    <head>
        <title>Productos</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="page-header">

            <h1><a href="/">Productos</a></h1>
        </div>

        <div id="menu">
          <ul>
            <li class="menuitem"><a href="{% url 'Categorias' %}">Categorias</a></li>
            <a class="btn btn-default" href="{% url 'Nueva_categoria' %}"><span class="glyphicon glyphicon-plus"></span></a>
            <li class="menuitem"><a href="{% url 'Presentaciones' %}">Presentaciones</a></li>
            <a class="btn btn-default" href="{% url 'Nueva_presentacion' %}"><span class="glyphicon glyphicon-plus"></span></a>
            <li class="menuitem"><a href="{% url 'Productos' %}">Productos</a></li>
            <a class="btn btn-default" href="{% url 'Nuevo_producto' %}"><span class="glyphicon glyphicon-plus"></span></a>
          </ul>
        </div>

        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
