{% extends 'blog/base.html' %}

{% block content %}
    <div class="producto">

    <a class="btn btn-default" href="{% url 'editar_producto' pk=producto.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
    <a class="btn btn-default" href="{% url 'eliminar_producto' pk=producto.pk %}"><span class="glyphicon glyphicon-trash"></span></a>

    </div>
    <h1>{{ producto.nombre }}</h1>
    <h1>
      <img src="/media/{{ producto.foto }}" width="45px" heigth="45px"/>
    </h1>
    <p>Categorias:
    {% for c in categorias %}
      {{c.categoria}} |
    {% endfor %}
    </p>
    {% for p in precios %}
      <p>Presentacion: {{p.presentacion}} | Precio: {{p.precio}} | Mínimo: {{p.preciomin}}</p>
    {% endfor %}
{% endblock %}
